.header {
  width: 100%;
  
  background: transparent; /* o rgba(...) si quieres un efecto */

  position: absolute;
  z-index: 100;
}


.content {
  height: var(--header-height);

  display: grid;
  grid-template-columns: 1fr auto 1fr;

  align-items: center;
}


.content > :first-child {
  justify-self: start;
}


.content > :last-child {
  justify-self: end;
}