.section {
  padding: 3rem 0;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

.grid {
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.card {
  display: block;
  text-decoration: none;
  color: inherit;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.image {
  object-fit: cover;
}

.title {
  margin-top: 0.75rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .section {
   padding: 2rem 0;
  }

  .grid {
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

}